<div class="container"> 
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <img style="width:100%" src="{{items.coverImage}}" alt="Card image">
          
                <div class="card-body">
                  <h6 class="card-title">Name: {{ items.name}}</h6>
                  <h6 class="card-title">Area: {{ items.area }}</h6>
                  <h6 class="card-title">City: {{ items.city }}</h6>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="container-fluid">
                <h5>Categories</h5>
                <br>
                <ul  class="nav nav-tabs">
                  <li *ngFor="let category of items.category" class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="{{category}}">{{ category }}</a>
                  </li>
                </ul> 
              </div> 

            <div class="table-responsive mt-5">
                <h5>Ratings</h5>

                <table class="table table-bordered">
                    <thead>
                      <tr>
                          <th>Rating</th>
                          <th *ngFor="let rating of items.review_rating.votes">{{ rating.rating }}</th>
                          <th>Total</th>
                        </tr>

                        <tr>
                            <th>Votes</th>
                            <th *ngFor="let rating of items.review_rating.votes">{{ rating.votes }}</th>
                            <th>{{ items.review_rating.total }}</th>
                        </tr>
                    </thead>
                  </table>
            </div>

              <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>Feature rating</th>
                            <th>Place</th>
                            <th>Food</th>
                            <th>Service</th>
                            <th>Staff</th>
                            <th>Breakfast</th>
                          </tr>
  
                          <tr>
                              <th>Rating</th>
                              <th>{{ items.feature_rating.place }}</th>
                              <th>{{ items.feature_rating.food }}</th>
                              <th>{{ items.feature_rating.service }}</th>
                              <th>{{ items.feature_rating.staff }}</th>
                              <th>{{ items.feature_rating.breakfast }}</th>
                          </tr>
                      </thead>
                    </table>
              </div> 
        </div>
      </div>

   
    <br>

  </div>